<div class="tip-bar hidden-print">
    <div class="tip-content">
        <style>
            .action-bar-outer {
                background-color: #799d4b;
                border-bottom: 1px solid #799d4b;
            }

            .ui-light, .ui-light a {
                color: white;
            }

            .action-bar {
                margin-right: auto;
                margin-left: auto;
                max-width: 1124px;
                text-align: justify;
                line-height: 0;
                background: url("images/icon-energy-tip.png") transparent no-repeat 20px center;
                padding: 30px 20px 30px 80px;
                padding: 1.875rem 1.25rem 1.875rem 5rem;
                font-family: "MuseoSans-500", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            @media only screen and (min-width: 768px) {
                .action-bar__left {
                    vertical-align: middle;
                    line-height: 20px;
                    display: inline-block;
                    *display: inline;
                    zoom: 1
                }
            }

            @media only screen and (max-width: 767px) {
                .action-bar__left {
                    display: none
                }
            }

            @media only screen and (min-width: 768px) {
                .action-bar__left {
                    height: 100%;
                    width: 70%;
                    padding-left: 20px;
                    padding-left: 1.25rem
                }
            }

            h3.h4.heading {
                font-family: "respublikafybold", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 18px;
                font-size: 1.125rem;
            }

            .h4 {
                font-family: "respublikafybold", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 18px;
                font-size: 1.125rem;
            }

            .heading {
                display: block;
                margin-bottom: .3em
            }

            .color-text {
                color: #3a3a3a !important
            }

            h3 {
                font-size: 1.17em;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
            }

            @font-face {
                font-family: 'respublikafybold';
                src: url("../styles/fonts/respublika/respublikafybold/respublikafybold.eot");
                src: url("../stylesstyles/fonts/respublika/respublikafybold/respublikafybold.eot?#iefix") format("embedded-opentype"),
                url("../styles/fonts/respublika/respublikafybold/respublikafybold.woff") format("woff"),
                url("../styles/fonts/respublika/respublikafybold/respublikafybold.ttf") format("truetype"),
                url("../styles/fonts/respublika/respublikafybold/respublikafybold.svg#respublikafybold") format("svg");
                font-weight: normal;
                font-style: normal
            }

        </style>
        <div class="action-bar-outer ui-light visible-lg visible-md">
            <div class="action-bar">
                <div class="action-bar__left">
                    <h3 class="h4 heading">Energy Saving Tip</h3>
                    <div class="color-text">
                        <p>A programmable thermostat can help you save big on energy costs, adjusting the temperature
                            when you're at work, at play, or asleep.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="more-tips visible-sm visible-xs">Read More Tips<span>›</span></a><span
            class="mobile-arrow">›</span>
    </div>
</div>
