/* mimic the css generated in the real application */

.section-header {
    font-size: 35px;
    font-size: 2.1875rem;
    font-family: "museo_sans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.section-header.section-header-billing {
    padding-bottom: 10px;
    border-bottom: solid 20px #0093b4;
    position: relative;
    font-family: "museo_sans100", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-header.section-header-energy {
    padding-bottom: 10px;
    border-bottom: solid 20px #799d4b;
    position: relative;
    font-family: "museo_sans100", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-header.section-header-billing:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-top-color: #fff;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
}

.section-header.section-header-energy:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-top-color: #fff;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
}

nav.side-nav ul li a {
    color: #000;
}

.g, .grid {
    padding-left: 0 !important;
}

.detailreport button {
    clear: both;
    float: left;
    margin-right: 10px;
}

.ui-grid-tree-header-row .ui-grid-cell {
    background-color: #c7e9e5 !important;
}

.ui-grid-row:first-child .ui-grid-cell {
    background-color: #0093B4 !important;
}

.menu-collapse {
    border: 1px solid #21ad96;
    color: #21ad96;
    font-size: 40px;
    position: absolute;
}

button {
    z-index: 1000;
}

#grid1 {
    height: auto !important;
}
.ui-grid-viewport {
    width: 100% !important;
    height: auto !important;
    overflow: auto !important;
}

nav.side-nav ul li a::after, nav.side-nav ul li p::after {
    content: "" !important;
    font-family: FontAwesome !important;
}

.meter {
    background-image: url("../images/meter.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    padding-left: 20px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    nav.side-nav ul li a::after, nav.side-nav ul li p::after {
        top: 42px !important;
    }

    .home-page .bill-summary-block .pay-now .bill-programs .program .program-element a::after, .home-page .bill-summary-block .pay-now .bill-programs .program .program-element p::after {
        top: 35px !important;
    }

    .home-page .energy-summary-block .energy-programs.energy-box .programs-list .program .program-element a::after, .home-page .energy-summary-block .energy-programs.energy-box .programs-list .program .program-element p::after {
        top: 35px !important;
    }

    .chart-area small.chartMsg {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 480px) {
    .bill-summary-block .pay-now {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .bill-summary-block .pay-now {
        background-color: #f0f0f0;
        margin-bottom: 20px;
    }
}
