/* mimic the css generated in the real application */

.section-header {
    font-size: 35px;
    font-size: 2.1875rem;
    font-family: "MuseoSans-300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.section-header.section-header-billing {
    padding-bottom: 10px;
    border-bottom: solid 20px #0093b4;
    position: relative;
    font-family: "MuseoSans-100", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-header.section-header-energy {
    padding-bottom: 10px;
    border-bottom: solid 20px #799d4b;
    position: relative;
    font-family: "MuseoSans-100", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-header.section-header-billing:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-top-color: #fff;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
}

.section-header.section-header-energy:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-top-color: #fff;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
}

nav.side-nav ul li a {
    color: #000;
}

.g, .grid {
    padding-left: 0 !important;
}

.detailreport button {
    clear: both;
    float: left;
    margin-right: 10px;
}

.ui-grid-tree-header-row .ui-grid-cell {
    background-color: #ccc !important;
}

.menu-collapse {
    border: 1px solid #21ad96;
    color: #21ad96;
    font-size: 40px;
    position: absolute;
}

.ui-grid-menu-mid {
    max-height: 300px;
    z-index: 10000 !important;
}

.ui-grid-cell-contents {
    font-size: 13px;
}

@media (max-width: 767px) {
    .col-xs-slider {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ddd;
        position: fixed !important;
        right: 10px;
        top: 83px;
        width: 75% !important;
        z-index: 1000;
    }

    button.menu-collapse {
        display: none;
    }
}

button {
    z-index: 1000;
}

#grid1 {
    height: auto !important;
    margin-bottom: 50px;
}

.ui-grid-canvas {
    margin-bottom: 10px !important;
}
.ui-grid-viewport {
    width: 100% !important;
    height: auto !important;
    overflow: auto !important;
}

/* in the table header, put the search filter over the Name label, make it translucent (until it is used) */
.ui-grid-filter-container {

    padding-left: 2px !important;
    padding-right: 30px !important;
    position: absolute !important;
    top: 0;
}

.ui-grid-column-menu-button {
    z-index: 1000;
}

.banner.banner-energy {
    z-index: 1;
}

.ui-grid-menu-button.ng-scope {
    z-index: 10000;
}

.ui-grid-render-container {
    z-index: 100;
}

.ui-grid-menu.ng-scope {
    z-index: 100;
}
.ui-grid-filter-container input {
    background-image: url("../images/searchicon.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px auto;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}

nav.side-nav ul li a::after, nav.side-nav ul li p::after {
    content: "" !important;
    font-family: FontAwesome !important;
}

.breadcrumbs-container ul.breadcrumbs li:after {
    content: "" !important;
    font-family: FontAwesome !important;
    font-size: 10px;
    margin: 15px;
}

.ui-grid-cell.meter, .ELECTRICITY {
    background-image: url("../images/meter.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    padding-left: 20px;
}

.usage-bar.meter {
    background-image: none;
}

.usage-bar.group {
    display: none;
}

.GAS {
    background-image: url("../images/gas.ico");
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    padding-left: 20px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/*  absurd  workaround:  in ft2 column I can't combine conditional text with html text, and make the ft2 go away when there is no number.  So make it a class */
.visible_ {
    display: none;
}

#report_chart_div {
    width: 100%;
    height: 500px;
    padding-right: 10px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
    white-space: normal;
    height: 40px !important;
}

/*.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: inherit;
}
.ui-grid-row:nth-child(2n) .ui-grid-cell {
    background-color: #f3f3f3 !important;
} */

/* turn the selected background back off for the rows */
.ui-grid-render-container-body .ui-grid-row .ui-grid-cell {
    background-color: #ffffff !important;
}

.ui-grid-render-container-body .ui-grid-row:nth-child(2n) .ui-grid-cell {
    background-color: #f3f3f3 !important;
}

.ui-grid-render-container-body .ui-grid-tree-header-row .ui-grid-cell {
    background-color: #ccc !important;
}

.ui-grid-render-container-body .ui-grid-tree-header-row:nth-child(2n) .ui-grid-cell {
    background-color: #ccc !important;
}

.ui-grid-row:first-child .ui-grid-cell {
    background-color: #0093B4 !important;
    border: 0;
    color: #fff;
}

.ui-grid-top-panel, .ui-grid-header-cell-row {
    background-color: #13678E;
    color: #fff;
}

.ui-grid-header-cell {
    border: 0;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    nav.side-nav ul li a::after, nav.side-nav ul li p::after {
        top: 42px !important;
    }

    .home-page .bill-summary-block .pay-now .bill-programs .program .program-element a::after, .home-page .bill-summary-block .pay-now .bill-programs .program .program-element p::after {
        top: 35px !important;
    }

    .home-page .energy-summary-block .energy-programs.energy-box .programs-list .program .program-element a::after, .home-page .energy-summary-block .energy-programs.energy-box .programs-list .program .program-element p::after {
        top: 35px !important;
    }

    .chart-area small.chartMsg {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 480px) {
    .bill-summary-block .pay-now {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }

    .bill-summary-block .pay-now {
        background-color: #f0f0f0;
        margin-bottom: 20px;
    }
}

@media (min-width: 1173px) {
    .container {
        width: 100%;
        max-width: 1320px;
    }
}

