<nav role="navigation" class="side-nav">
    <!-- TODO - look at current path to decide which item is active -->
    <ul class="list-unstyled">
        <li><a class="active" href="#/">Account Summary</a></li>
        <li><a href="#/detailReport">Detailed Report</a></li>
        <li><a href="/oam/user/getPremiseById.req">My Usage</a></li>
        <li><a href="/oam/user/yourPrograms.req">My Programs</a></li>
        <li><a href="/oam/user/showprofilepage.req">My Profile &amp; Notifications</a></li>
    </ul>
</nav>



