<div ng-include="template.topbar"></div>
<div class="breadcrumbs-container hidden-print">
    <ul class="container breadcrumbs">
        <li><a href="https://www.xcelenergy.com">Home</a></li>
        <li><a href="#">My Settings</a></li>
    </ul>
</div>
<div class="container" id="main">
    <div ng-class="showgraphSidebar ? 'col-xs-3 col-xs-slider' : 'hidden'">
        <div ng-include="template.accountmenu"></div>
    </div>
    <div ng-class="showgraphSidebar ? 'col-xs-12 col-md-9' : 'col-xs-12'">


        <h2 class="section-header section-header-billing">Meter Groupings</h2>

        <script type="text/ng-template" id="list.html">
            <ul dnd-list="list">
                <li ng-repeat="meter in list"
                    dnd-draggable="meter"
                    dnd-effect-allowed="move"
                    dnd-moved="list.splice($index, 1)"
                    dnd-selected="models.selected = (models.selected === meter ? null : meter)"
                    ng-class="{selected: models.selected === meter}"
                    ng-include="meter.type + '.html'">
                </li>
            </ul>
        </script>
        <script type="text/ng-template" id="listsrc.html">
            <ul dnd-list="list">
                <li ng-repeat="meter in list"
                    dnd-draggable="meter"
                    dnd-effect-allowed="copy"
                    dnd-selected="models.selected = (models.selected === meter.child ? null : meter.child)"
                    ng-class="{selected: models.selected.id === meter.child.id}"
                    ng-include="meter.type + '.html'">
                </li>
            </ul>
        </script>
        <script type="text/ng-template" id="group.html">
            <div class="container-element box box-blue">
                <h3>{{meter.name}}</h3>
                <div class="column" ng-repeat="list in meter.columns" ng-include="'list.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>
        <script type="text/ng-template" id="accountsrc.html">
            <div class="container-element box box-blue">
                <h3>Account: {{meter.id}}</h3>
                <div class="column" ng-repeat="list in meter.columns" ng-include="'listsrc.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>

        <!-- Template for a normal list item -->
        <script type="text/ng-template" id="meter.html">
            <div class="row">
                <div class="col-xs-8">
                    <div class="item {{meter.services}}"><h3> {{meter.name}}</h3></div>
                </div>
                <div class="col-xs-4">
                    <sm>({{meter.id}})</sm>
                </div>
            </div>

            <div class="meterdetails row">
                <div class="col-xs-12"><label for="metername">Name:</label><input type="text" ng-model="meter.name"
                                                                                  id="metername" name="metername"></div>
                <div class="col-xs-12"><label for="budget">Annual Budget:</label><input type="text"
                                                                                        ng-model="meter.annualBudget"
                                                                                        id="budget" name="budget"></div>
                <div class="col-xs-12"><label for="squarefootage">Square Footage:</label><input type="text"
                                                                                                ng-model="meter.squareFootage"
                                                                                                id="squarefootage"
                                                                                                name="squarefootage">
                </div>
                <br>
            </div>
        </script>

        <!-- Template for a normal list item in the source column-->
        <script type="text/ng-template" id="metersrc.html">
            <div class="item {{meter.services}}"> {{meter.id}} ({{meter.child.name}})</div>
        </script>

        <!-- Main area with dropzones and source code -->
        <div class="col-xs-8">
            <div class="row">
                <div ng-repeat="(zone, list) in models.dropzones" class="col-md-12">
                    <div class="dropzone box box-green">
                        <!-- The dropzone also uses the list template -->
                        <h2>{{selectedGrouping.name}}</h2>
                        <div ng-include="'list.html'"></div>
                    </div>
                </div>
            </div>

            <div view-source="nested"></div>

        </div>

        <!-- Sidebar -->
        <div class="col-xs-4">

            <label for="groupingSelect">Meter Group:</label>
            <select name="groupingSelect" id="groupingSelect" ng-change="changedGrouping(groupingSelect)"
                    ng-options="option.name for option in groupings track by option.name"
                    ng-model="selectedGrouping"></select>

            <div class="toolbox box box-grey box-padding dropzone box box-green ">
                <ul>
                    <!-- The toolbox only allows to copy objects, not move it. After a new
                         element was created, dnd-copied is invoked and we generate the next id -->
                    <li ng-repeat="item in models.templates"
                        dnd-draggable="item"
                        dnd-effect-allowed="copy"
                        dnd-copied="item.id = 'New Group'"
                    >
                        <div class="new-{{item.type}} container-element blue-box box-blue">
                            <h3 class="fa fa-plus">&nbsp;&nbsp;New {{item.type}}</h3>
                        </div>
                    </li>
                </ul>
                <!-- Main area with dropzones and source code -->
                <div>
                    <div class="row">
                        <div ng-repeat="(zone, list) in models.sourcezones">
                            <div class="dropzone box box-green">
                                <!-- The dropzone also uses the list template -->
                                <!-- TODO if an item in this list is selected, highlight the same item in the grouping on display -->

                                <h3>My Meters</h3>
                                <ul dnd-list="list">
                                    <li ng-repeat="meter in list"
                                        dnd-draggable="meter"
                                        dnd-effect-allowed="copy"
                                        dnd-selected="models.selected = (models.selected === meter.child ? null : meter.child)"
                                        ng-class="{selected: models.selected === meter.child}"
                                        ng-include="meter.type + 'src.html'">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div view-source="nested"></div>

                </div>
            </div>
            <!--           <div ng-if="models.selected" class="box box-grey box-padding">
                           <h3>Selected</h3>
                           <strong>Type: </strong> {{models.selected.type}}<br>
                           <input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px"/>
                       </div> -->



        </div>


    </div>
</div>
<div ng-include="template.tipbar"></div>
