<div ng-include="template.topbar"></div>
<div class="breadcrumbs-container hidden-print">
    <ul class="container breadcrumbs">
        <li><a href="https://www.xcelenergy.com">Home</a></li>
        <li><a href="#">My Usage</a></li>
    </ul>
</div>
<div class="container" id="main">
    <div ng-class="showgraphSidebar ? 'col-xs-3 col-xs-slider' : 'hidden'">
        <div ng-include="template.accountmenu"></div>
    </div>
    <div ng-class="showgraphSidebar ? 'col-xs-12 col-md-9' : 'col-xs-12'">
        <button ng-click='toggle()' class="menu-collapse"> {{menucollapsebutton}}</button>
        <div class="row clearfix">
            <h2 class="section-header section-header-billing">My Usage</h2>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12">


                <div class="pull-right">

                </div>

                <a id='here'></a>
                <div class="gridStyle" ng-grid="gridOptions"></div>
                <div id="report_chart_div"></div>

                <table id="legend-waitforit-ary">
                    <tr>
                        <th></th>
                        <th>2016</th>
                        <th>2015</th>
                        <th>2014</th>
                    </tr>
                    <tr>

                        <!-- TODO, this ugly code needs to be ng-repeat -->
                        <td>
                            <select name="graphSelect" id="graphSelect" ng-change="changedGraph(graphSelect)"
                                    ng-options="option.name for option in graphs track by option.name"
                                    ng-model="currentGraph"></select></td>
                        <td>
                            <a ng-click='legend.items[0].enabled = !legend.items[0].enabled'
                               ng-class="legend.items[0].enabled ? 'show-graph' : 'hide-graph'">
                                <svg width="28" height="14" style="overflow: hidden;">
                                    <rect x="0" y="0" width="28" height="14" stroke="none" stroke-width="0"
                                          fill={{legend.items[0].color}}></rect>
                                </svg>
                                &nbsp;{{legend.items[0].display}} xxx kWh
                            </a>
                        </td>
                        <td>
                            <button ng-click="legend.items[1].enabled = !legend.items[1].enabled; legendChanged()"
                                    ng-class="legend.items[1].enabled ? 'show-graph' : 'hide-graph'">
                                <svg width="28" height="14" style="overflow: hidden;">
                                    <rect x="0" y="0" width="28" height="14" stroke="none" stroke-width="0"
                                          fill={{legend.items[1].color}}></rect>
                                </svg>
                                &nbsp;4322 kwh
                            </button>
                        </td>
                        <td>
                            <svg width="28" height="14" style="overflow: hidden;">
                                <rect x="0" y="0" width="28" height="14" stroke="none" stroke-width="0"
                                      fill="#c7e9e5"></rect>
                            </svg>
                            &nbsp;4322 kwh
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="secondgraphSelect" id="secondgraphSelect"
                                    ng-change="changedSecondGraph(secondgraphSelect)"
                                    ng-options="option.name for option in secondgraphs track by option.name"
                                    ng-model="currentSecondGraph"></select></td>
                        <td>
                            <svg width="28" height="14" style="overflow: hidden;">
                                <rect x="0" y="5" width="28" height="3" stroke="none" stroke-width="0"
                                      fill="#db504a"></rect>
                            </svg>
                            &nbsp;322 kw
                        </td>
                        <td>
                            <svg width="28" height="14" style="overflow: hidden;">
                                <rect x="0" y="5" width="28" height="3" stroke="none" stroke-width="0"
                                      fill="#D87A77"></rect>
                            </svg>
                            &nbsp;422 kw
                        </td>
                        <td>
                            <svg width="28" height="14" style="overflow: hidden;">
                                <rect x="0" y="5" width="28" height="3" stroke="none" stroke-width="0"
                                      fill="#D8A4A2"></rect>
                            </svg>
                            &nbsp;432 kw
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="row clearfix">
            <h2 class="section-header section-header-billing">Usage Details {{chartPeriod}}</h2>
            <!--            <label for="servicesSelect">Services:</label>
                        <select name="servicesSelect" id="servicesSelect" ng-change="changedServices(servicesSelect)"
                                ng-options="option.name for option in services track by option.name"
                                ng-model="selectedServices"></select> -->
            <!-- TODO add tooltips on these labels and dropdowns -->
            <label for="groupingSelect">Meter Group:</label>
            <select name="groupingSelect" id="groupingSelect" ng-change="changedGrouping(groupingSelect)"
                    ng-options="option.name for option in groupings track by option.name"
                    ng-model="selectedGrouping"></select>
            <label for="reportSelect">Saved View:</label>
            <select name="reportSelect" id="reportSelect" ng-change="changedReport(reportSelect)"
                    ng-options="option.reportName for option in reports track by option.reportName"
                    ng-model="selectedReport"></select>
            <label for="periodSelect">Period:</label>
            <select name="periodSelect" id="periodSelect" ng-change="changedPeriod(periodSelect)"
                    ng-options="option.label for option in reportPeriods track by option.label"
                    ng-model="selectedPeriod"></select>

            <a class="btn btn-secondary pull-right" href="#/mysettings">Edit Groupings</a>
            <a class="btn btn-secondary pull-right" href="#/mysettings">Save View</a>

            <div id="grid1" ui-grid="gridOptions" ui-grid-tree-view ui-grid-resize-columns ui-grid-move-columns
                 ui-grid-selection
                 ui-grid-pinning
                 class="grid clearfix"></div>
        </div>
        <div class="row clearfix">
            <div class="banner banner-energy">
                <div class="wrap-icon lightbulb-icon">
                    <div class="banner-inner">
                        <p class="headline"><span class="hidden-xs">Sign up for energy updates, billing reminders and payment notifications.</span><a
                                href="/oam/user/showprofilepage.req" class="banner-link visible-xs">Energy Notifications
                            <span class="big">Sign up</span></a>
                        </p>
                        <p class="hidden-xs">It only takes a minute to sign-up. <a href="/oam/user/showprofilepage.req">Learn
                            More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="template.tipbar"></div>

