<div ng-include="template.topbar"></div>
<div class="container" id="main">
    <div class="col-xs-hidden col-md-3">
        <div ng-include="template.accountmenu"></div>
    </div>
    <div class="col-xs-12 col-md-9">


        <h2 class="section-header section-header-billing">{{meters.name}}</h2>
        <span id="counter" data-ui="dueDate">loaded {{loadedMeters}} of {{meterCount}} </span>
        <label for="groupingSelect">Grouping:</label>
        <select name="groupingSelect" id="groupingSelect" ng-change="changedGrouping(groupingSelect)"
                ng-options="option.name for option in meters.groupings track by option.name"
                ng-model="data.selectedGrouping"></select>
        <i>option = {{data.selectedGrouping.name}}</i>

        <div id="grid1" ui-grid="gridOptions" ui-grid-tree-view class="grid"></div>


    </div>

</div>
